<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include nav.ejs%>
    <form method="post">
        用戶名：<input id="txtUserName" name = "txtUserName" v-text="用户名123" type="text">
        密码：<input id="txtPassWord" name = "txtPassWord" v-text="密码123" type="password   ">
        <input value="提交" type="submit">


    </form>
</body>
</html>