<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<% include nav.ejs%>

<form method="post">
    用戶名：<input id="txtUserName" name="txtUserName" type="text">
    密碼：<input id="txtPassWord" name="txtPassWord" type="password">
    <input type="submit" value="提交">
</form>

</body>
</html>